{% extends "base.html" %}
{% block content %}
    <h1><b>{{ agency.name }}</b></h1>
    <ul>
        <li>Name: {{ agency.name}}</li>
        <li>Acronym: {{ agency.acronym }}</li>
        <li>Country: {{ agency.country }}</li>
        {% if agency.launch_capable %}
            <li>Is able to lunch: YES</li>
        {% else %}
            <li>Is able to lunch: NO</li>
        {% endif %}
    </ul>
    <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'space-agencies'%}'" type="button">
        Agency list
    </button>

    <h2>List of agency objects:</h2>
    {% for satellite in satellites %}
        {% if satellite %}
            <p>
                <a href="{% url 'sat-info' sat_id=satellite.id %}">
                    {{ satellite.name }}
                </a>
            </p>
        {% endif %}
    {% empty %}
        <p>None! {{ agency.name }} can not into Space!</p>
    {% endfor %}

    <h2>Personnel list:</h2>
    <table border="solid">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Object</th>
        </tr>
        {% for person in personnel %}
            {% if person %}
                <tr>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>
                        {{ person.satellite.name }}
                    </td>
                </tr>
            {% endif %}
        {% empty %}
        <tr>
            <td>None!</td>
            <td>None!</td>
            <td>None!</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

