{% extends "base.html" %}
{% block content %}
    <h1>Space agencies list:</h1>
    <ul>
        {% for agency in agencies %}
            <li>
                <a href="{% url 'agency-info' agency_id=agency.id %}">
                <!--/space_agencies/{{ agency.pk }}">-->
                    <b>{{ agency.acronym }}</b>
                </a>
                <a href="{% url 'update-space-agency' pk=agency.id %}">
                    <!--'/update_spaceagency/{{ agency.id }}>"-->
                    <button type="button">Modify</button>
                </a>
                <a href="{% url 'delete-space-agency' pk=agency.id %}">
                    <!--'/delete_spaceagency/{{ agency.id }}>"-->
                    <button type="button">Delete</button>
                </a>
            </li>
            <br>
        {% endfor %}
        <br>
        <a href="{% url 'add-space-agency' %}">
            <!--'/add_space_agency';"-->
            <button type="button">Add</button>
        </a>
        <a href="{% url 'sat-all' %}">
            <!--/satellites-->
            <button type="button">Satellites List</button>
        </a>
    </ul>
{% endblock %}

