<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <script type="text/javascript" src='{% static "Sat_Track/js/j_script.js" %}'></script>
        <script type="text/javascript" src='{% static "Sat_Track/js/js.cookie.js" %}'></script>
        <!--jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--bootstrap and css with it-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>

{% comment %}
<!--widget.init(sats_json);-->
<!--var sats_json = "{{ sats_json }}";-->
{% endcomment %}
