{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="box big" id="box">
        <img src='{% static "Sat_Track/world.jpg" %}' alt="World_image"
             style="width:100%; height:100%; position: relative;"/>
    </div>
    <div>
        Cursor position:
        Global X: <span id="globalX"></span>
        Global Y: <span id="globalY"></span>
        Local X: <span id="localX"></span>
        Local Y: <span id="localY"></span>
        <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'sat-all' %}'" type="button">
            Satellites list
        </button>
        LEGEND: <span id="legend"></span>
    </div>
{% endblock %}

