{% extends "base.html" %}
{% block content %}
    <h1>{{ personnel.first_name }} {{ personnel.last_name }}</h1>

    <h2>Space agency:</h2>
    <p>
        <a href="{% url 'agency-info' agency_id=agency.id %}">
            {{ agency.acronym }}
        </a>
    </p>
    <h2>Satellite:</h2>
    <p>
        <a href="{% url 'sat-info' sat_id=satellite.pk %}">
            {{ satellite.name }}
        </a>
    </p>
    <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'astr-all'%}'" type="button">
        Personnel list
    </button>
{% endblock %}

