{% extends "base.html" %}
{% block content %}
    <h1>Personnel list:</h1>
    <ul>
        {% for person in personnel %}
            <li>
                <a href="/personnel/{{ person.id }}">
                    {{ person.first_name }} {{ person.last_name }}
                </a>
                <input type="button" onclick="location.href=
                                         '/update_personnel/{{ person.id }}';"
                       value="Modify"/>
                <input type="button" onclick="location.href=
                                         '/delete_personnel/{{ person.id }}';"
                       value="Delete"/>
            </li>
        {% endfor %}
        <br>
        <input type="button" onclick="location.href='/add_personnel';"
               value="Add"/>
        <input type="button" onclick="location.href='/satellites';"
               value="Satellites list"/>
    </ul>
{% endblock %}

