{% extends "base.html" %}
{% block content %}
    <h1>Personnel list:</h1>
    <ul>
        {% for person in personnel %}
            <li>
                <a href="{% url 'astr-info' astr_id=person.id %}">
                <!--<a href="/personnel/person.id">-->
                    {{ person.first_name }} {{ person.last_name }}
                </a>
                <a href="{% url 'astr-update' pk=person.id %}">
                    <!--/update_personnel/person.id'"-->
                    <button type="button">Modify</button>
                </a>
                <a href="{% url 'astr-delete' pk=person.id %}">
                    <!--/delete_personnel/person.id'"-->
                    <button type="button">Delete</button>
                </a>
            </li>
        {% endfor %}
        <br>
        <a href="{% url 'astr-add' %}">
            <!--/add_personnel"-->
            <button type="button">Add</button>
        </a>
        <a href="{% url 'sat-all' %}">
            <!--/satellites"-->
            <button type="button">Satellites list</button>
        </a>
    </ul>
{% endblock %}

