{% extends "base.html" %}
{% block content %}
    <h1>List of found satellites:</h1>
    <table>
        {% for satellite in satellites %}
            <tr>
                <td>
                    <a href="/satellites/{{ satellite.pk }}">
                    <b>{{ satellite.name }}</b></a>
                </td>
                <td>
                    <input type="checkbox" name="{{ satellite.name }}"
                           value="{{ satellite.name }}"
                           id="{{ satellite.name }}"
                           form="satellite_form">Show on world map
                </td>
            </tr>
        {% endfor %}
    </table>

    <form id="satellite_form" action="{% url 'map' %}" method="post">
		{%	csrf_token	%}
        <!--<input type="submit" value="Pokaż mapę">-->
    </form>
    <input type="button" onclick="location.href='/space_agencies';"
           value="Space agencies"/>
    <input type="button" onclick="location.href='/personnel';"
           value="Personnel" />
    <select form="satellite_form" name="the_date">
        {% for date in uniq_date %}
            <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
    </select>
    {% comment %}
    <!--POST into url: map. Check Map View post method-->
    {% endcomment %}
    <input type="submit" value="World Map" form="satellite_form" />

{% endblock %}

