{% extends "base.html" %}
{% block content %}
    <h1>Lista znalezionych satelitów:</h1>
    <ul>
        {% for satellite in satellites %}
            <li><a href="/satellites/{{ satellite.pk }}"> ID: {{ satellite.pk }},<b>Nazwa: {{ satellite.name }}</b></a> </li>
            {% comment %}
            <!--<li>Długość geograficzna: {{ satellite.longi }}</li>-->
            <!--<li>Szerokość geograficzna : {{ satellite.lati }}</li>-->
            <!--<li>Wysokość n.p.m.: {{ satellite.alti }}km</li>-->
            {% endcomment %}
        {% endfor %}
    </ul>
{% endblock %}

