{% extends "base.html" %}
{% block content %}
    <h1>List of found satellites:</h1>
    <table>
        {% for satellite in satellites %}
            <tr>
                <td>
                    <a href="{% url 'sat-info' sat_id=satellite.pk %}">
                        <b>{{ satellite.name }}</b>
                    </a>
                </td>
                <td>
                    <input type="checkbox" name="{{ satellite.name }}"
                           value="{{ satellite.name }}"
                           id="{{ satellite.name }}"
                           form="satellite_form">Show on world map
                </td>
            </tr>
        {% endfor %}
    </table>

    <form id="satellite_form" action="{% url 'map' %}" method="post">
    <!--<form id="satellite_form" action="{% url 'hist' %}" method="GET">-->
		{%	csrf_token	%}
    </form>
    <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'space-agencies' %}'" type="button">
        Space agencies
    </button>
    <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'astr-all' %}'" type="button">
        Personnel
    </button>
    <select class="btn btn-primary btn-xs" id="select_date" form="satellite_form" name="the_date">
        {% for date in uniq_date %}
            <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
    </select>
    {% comment %}
    <!--POST into url: map. Check Map View post method-->
    {% endcomment %}
    <input class="btn btn-primary btn-xs" type="submit" value="World Map" form="satellite_form" />

{% endblock %}

